body {
    margin: 30px;
    color: #878787;
}
h1, strong, .day {
    color: black;
}
.wrapper {
    margin: 0 auto;
    max-width: 600px;
}
.weather-project {
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.city-search {
    text-align: left;
}
#city {
    border-radius: 3px;
    border-color: #878787;;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn-success {
    margin-bottom: 0;;
}
.active {
    color: black;
    cursor: default;
}
.active:hover {
    text-decoration: none;
    color: black;
}
#weather-description {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.today-icon {
    width: 100px;
    margin: 0 auto;
}
#temperature {
    font-size: 85px;
    line-height: 1;
    color: black;
}
h2 small {
    font-size: 17px;
    position: relative;
    top: -50px;
}
img {
    width: 50px;
    display: block;
}
.day {
    font-weight: 500;
}
.weather-data {
    margin-top: 50px;
}
.forecast {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 32px;
}
.randomCity {
    display: block;
    margin: 0 auto;
}
.open-source {
    margin-top: 10px;
    font-size: xx-small;
    text-transform: none;
}
.forecastTemperatures {
    font-size: 12px;
}