body {
    margin: 30px;
    color: #878787;
}
h1, strong, .day {
    color: black;
}
.wrapper {
    margin: 0 auto;
    max-width: 600px;
}
.weather-project {
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.city-search {
    text-align: left;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn-success {
    margin-bottom: 0;;
}
#weather-description {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.today-icon {
    width: 150px;
}
h2 strong {
    font-size: 70px;
    line-height: 1;
}
img {
    width: 60px;
    display: block;
}
.day {
    font-weight: 500;
}
.weather-data {
    margin-top: 50px;
}
.daily-forecast {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.randomCity {
    display: block;
    margin: 0 auto;
}
.open-source {
    margin-top: 10px;
    font-size: xx-small;
    text-transform: none;
}
.forecastTemperatures {
    font-size: 12px;
}