body {
    margin: 30px;
    color: #878787;
}
h1, strong, .day {
    color: black;
}
.container {
    margin-top: 45px;
    max-width: 600px;
}
.city-search {
    text-align: left;
    margin-top: 10px;
}
.btn-success {
    margin-bottom: 0;;
}
img {
    width: 70px;
    display: block;
}
p {
    text-transform: capitalize;
}
.col-3 {
    margin-top: 85px;
}
.today-icon {
    width: 150px;
}
.day {
    font-weight: 500;
}
.weather-data {
    margin-top: 50px;
}
.daily-forecast {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.randomCity {
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
}
.open-source {
    margin-top: 10px;
    font-size: xx-small;
    text-transform: none;
}
.forecastTemperatures {
    font-size: 12px;
}